
body {
    font-family: Verdana, sans-serif;
    color: #330000;
    background-color: #ffffcc;
    margin: 0;
    padding: 0;
}

.box-container{
    max-width: 1200px;
    margin: 5vh auto 50vh;
    padding: 0 16px;
}
#header {
    background-color: #ccaa66;
    text-align: center;
    padding: 20px;
    border-top: 5px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}


#container {
    display: flex;
    align-items: stretch;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

#nav {
    background-color: #E8D882;
    flex: 0 0 220px;
    width: 220px;
    padding: 15px;
    margin-right: 10px;
}

#nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#nav li {
    margin-bottom: 10px;
}

#nav a {
    text-decoration: none;
    color: blue;
}

#main-content {
    display: flex;
    background-color: #f1e8b0;
    flex: 1;
    padding: 20px;
    gap: 20px;
}




#img-container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;   
}

#img-container img{
    max-width: 400px;
    width: 100%;
    height: auto;
}

#footer {
    background-color: #ccaa66;
    text-align: center;
    padding: 10px;
    border: 2px solid black;
}
